<footer class="foot">
    <div class="wrapper">Гномреганцы. Гильдия гномов на сервере Ясеневый Лес (EU)
        <a class="foot_link-discord" href="https://discord.gg/hpPAvwQ" target="_blank" title="Discord Гномреганцев"></a>
        <a class="foot_link-youtube" href="https://www.youtube.com/channel/UCuOiF8DvyvLRxVeRHAU05DA" target="_blank" title="Гномреганцы на YouTube"></a>
        <a class="foot_link-wow" href="http://eu.battle.net/forums/ru/wow/topic/12439986038" target="_blank" title="Гномреганцы на форуме World of Warcraft"></a>
        <a class="foot_link-vk" href="https://vk.com/gnomereganians" target="_blank" title="Гномреганцы во ВКонтакте"></a>
    </div>
</footer>