<footer class="foot">
    <div class="wrapper">Гномреганцы. Гильдия гномов на сервере Ясеневый Лес (EU) <a href="https://www.youtube.com/channel/UCuOiF8DvyvLRxVeRHAU05DA" class="foot_link" target="_blank" title="Гномреганцы на YouTube"><img src="/pics/social-youtube.png" alt="Иконка YouTube"></a><a href="http://eu.battle.net/forums/ru/wow/topic/12439986038" class="foot_link" target="_blank" title="Гномреганцы на форуме World of Warcraft"><img src="/pics/social-wow.png" alt="Иконка World of Warcraft"></a><a href="https://vk.com/gnomereganians" class="foot_link" target="_blank" title="Гномреганцы во ВКонтакте"><img src="/pics/social-vk.png" alt="Иконка соцсети ВКонтакт"></a>
    </div>
</footer>