<footer class="foot">
    <div class="wrapper">Гномреганцы. Гильдия гномов на сервере Ясеневый Лес (EU) <a href="http://eu.battle.net/forums/ru/wow/topic/12439986038" class="foot_link" target="_blank"><img src="/pics/social-wow.png" alt="Гномреганцы на форуме World of Warcraft"></a><a href="https://vk.com/gnomereganians" class="foot_link" target="_blank"><img src="/pics/social-vk.png" alt="Гномреганцы во ВКонтакте"></a>
    </div>
</footer>