<h1>{{ caption }}</h1>
<section id="profile" class="profile">
    {% if characters|length %}
        <p class="profile_actions">Можно <a href="/auth/">обновить персонажей</a>, чтобы подгрузить твоих новых гномов или обновить информацию у подгруженных.</p>
        <div id="characters" class="characters">
            {% for character in characters %}
                {% include './views/character.twig' with {
                    character : character,
                    isCurrent : (current == character.id),
                    editable  : true
                } %}
            {% endfor %}
        </div>
    {% else %}
        <p class="profile_actions">К сожалению, у тебя нет ни одного персонажа в гильдии "Гномреганцы" :( <br>Создай классного гнома или гномку, вступи в эту славную гильдию и нажми <a href="/auth/">обновить персонажей</a>, чтобы все твои гномреганцы отобразились в этом списке.</p>
    {% endif %}
</section>
