/* reset */
p, div, body, h1, h2, h3, li, ol, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
html {height: 100%;}
body {
    min-height: 100%;
    position: relative;
    padding-bottom: 90px;
    padding-top: 1px;
    background: url(/pics/bg.jpg);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    color: #B8B8B8;
}
img {
    border: 0 none;
}
a {
    color: #21C52D;
    text-decoration: none;
}
h1 {
    color: #706161;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    margin-top: 18px;
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 15px;
}
h1::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(41,75,23, 0), rgba(41,75,23, 1), rgba(41,75,23, 0));
}
h2 {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}
ul li {
    margin: 4px 0;
    list-style: none;
    padding-left: 4px;
}
ol li {
    margin-left: 20px;
}
ul li::before {
    content: "\2012";
    margin-right: 6px;
}
p {
    margin: 10px 0;
    line-height: 25px;
}

.wrapper {
    position: relative;
    width: 924px;
    margin: 0 auto;
}
.picture {
    display: block;
    max-width: 100%;
    margin: 20px 0;
}
.foot {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255, 0.1);
    color: #B2B0B0;
}
.foot .wrapper {
    height: 60px;
    line-height: 60px;
    padding-left: 8px;
}
.foot_link {
    float: right;
    font-size: 0;
    height: 40px;
    margin: 9px 8px 0 12px;
    opacity: 0.4;
}
.foot_link:hover {
    opacity: 1;
}
.head {
    margin-top: 24px;
    border-top: 1px solid #3E3C3C;
    border-bottom: 1px solid #9F9F9F;
    background-color: rgba(242,218,198, 0.3);
}
.head .wrapper {
    height: 75px;
    padding: 0 103px;
}
.head_logo {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.head_profile {
    position: absolute;
    font-size: 0;
    right: 12px;
    top: 50%;
    width: 52px;
    height: 52px;
    z-index: 2;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.head_profile .avatar {
    width: 50px;
    height: 50px;
    border-radius: 26px;
    border: 1px solid rgba(0,0,0, 0.4);
}.menu {
    line-height: 76px;
    font-size: 0;
    height: 75px;
}
.menu_item {
    color: #07320A;
    font-size: 24px;
    margin: 0 24px;
    font-weight: 400;
}
.menu_item._cur {
    color: white;
}
.menuProfile {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.menuProfile_name {
}
.menuProfile_actions {
}
.menuProfile_action {
}
.menuProfile_action-exit {
}.news {
    margin: 36px 0;
    position: relative;
}
.news:not(:last-child) {
    padding-bottom: 36px;
}
.news:not(:last-child)::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    left: 166px;
    right: 166px;
    background: linear-gradient(to right, rgba(41,75,23, 0), rgba(41,75,23, 1), rgba(41,75,23, 0));
}
.news_date {
    float: right;
    font-size: 13px;
    margin-top: 7px;
}
.news_caption {
    margin-left: 8px;
}
.news_text {
    margin-top: 24px;
}.paginator {
    font-size: 0;
    text-align: center;
    margin: 50px 0 30px;
}
.paginator_page {
    font-size: 30px;
    margin: 0 11px;
    font-weight: 400;
}
.paginator_page._cur {
    color: white;
}
.stories {
}
.stories_text {
}
.stories_list {
    margin-top: 20px;
}
.stories_story {
}

