.characters {
    font-size: 0;
    padding: 0 12px 40px;
    margin: 30px 0;
}
.character {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 160px;
    text-align: center;
    border: 1px solid #4b3e35;
    background-color: #2a252180;
    margin: 0 10px 20px;
    font-size: 0;
}
.character._cur {
    background-color: #5f4d3f80;
    border: 1px solid #756052;
}
.character._lore {
    display: flex;
    width: auto;
    text-align: left;
    max-height: 100vh;
}
.character_card {
    padding: 25px 0 30px;
    position: relative;
    text-align: center;
    height: 228px;
    width: 158px;
}
.character._cur .character_card::before {
    content: "Основной";
    color: #95918A;
    font-size: 13px;
    position: absolute;
    top: 4px;
    right: 0;
    left: 0;
}
.character_name {
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0 0;
}
.character_info {
    font-size: 14px;
    margin: 0;
}
.character_class-1 {
    color: #C69B6D;
}
.character_class-3 {
    color: #AAD372;
}
.character_class-4 {
    color: #FFF468;
}
.character_class-5 {
    color: #F0EBE0;
}
.character_class-6 {
    color: #C41E3B;
}
.character_class-8 {
    color: #68CCEF;
}
.character_class-9 {
    color: #9382C9;
}
.character_class-10 {
    color: #00FFBA;
}
.character_level {
    margin-left: 2px;
    font-weight: 400;
    color: #b3a647;
}
.character_actions {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}
[class|="character_action"] {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    margin: 0 4px;
    opacity: 0.4;
    background-repeat: no-repeat;
}
[class|="character_action"]:hover {
    opacity: 1;
}
.character_action-select {
    background-position: center 3px;
    background-image: url(/pics/character-select.png);
}
.character._cur .character_action-select,
.character._lore .character_action-lore {
    opacity: 1;
}
.character_action-lore {
    background-position: center 4px;
    background-image: url(/pics/character-lore.png);
}
.character_lore {
    position: relative;
    background: #151413;
    flex-grow: 1;
    width: 500px;
    margin: 10px;
    display: flex;
    font-size: 16px;
    padding: 0 16px;
    overflow-y: auto;
}
.character_lore::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
}
.character_lore._empty {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.character_lore .editor {
    margin: 0 -16px;
    flex-grow: 1;
    z-index: 2;
}
