.form {
    display: flex;
    flex-direction: column;
}
.form_actions {
    height: 34px;
    line-height: 32px;
    padding: 0 16px;
    font-size: 15px;
    background-color: #302c2b;
}
.form_field {
    margin-bottom: 6px;
}
.form_content {
    -webkit-flex-grow: 1;
            flex-grow: 1;
}
