.news {
    margin: 36px 0;
    position: relative;
}
.news:not(:last-child) {
    padding-bottom: 36px;
}
.news:not(:last-child)::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    left: 166px;
    right: 166px;
    background: linear-gradient(to right, rgba(41,75,23, 0), rgba(41,75,23, 1), rgba(41,75,23, 0));
}
.news_date {
    float: right;
    font-size: 13px;
    margin-top: 7px;
}
.news_caption {
    margin-left: 8px;
}
.news_text {
    margin-top: 24px;
}
.news_edit {
    position: absolute;
    top: 8px;
    width: 22px;
    height: 21px;
    right: 76px;
    background: url(/pics/icons.png) -84px -2px no-repeat;
    opacity: 0.4;
    visibility: hidden;
}
.news_edit:hover {
    opacity: 1;
}
.news:hover .news_edit {
    visibility: visible;
}
.news_editor {
    background-color: #2a252180;
    border: 1px solid #4b3e35;
    padding: 16px 20px;
    min-height: 400px;
}
.news_editor + .news {
    display: none;
}